@font-face {
  font-family: Digits;
  src: url("./DS-DIGI.TTF");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#App {
  padding: 0.5vmin;
  display: grid;
  border: 0.1vmin solid black;
  border-radius: 0.25rem;
  grid-template-areas:
    "display display display display"
    "clear . . ."
    "seven eight nine divide"
    "four five six multiply"
    "one two three subtract"
    "negate zero decimal add"
    "equals equals equals equals";
  grid-template-columns: repeat(4, 10vmin);
  grid-template-rows: repeat(7, 10vmin);
  gap: 0.5vmin;
}
#display {
  grid-area: display;
  border: 0.1vmin solid black;
  padding: 1vmin;
  display: flex;
  flex-direction: column;
}
#display #formula {
  height: 33%;
  font-family: monospace;
}
#display #input {
  height: 66%;
  font-family: Digits;
  font-size: 2em;
}
#clear {
  grid-area: clear;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#negate {
  grid-area: negate;
}
#zero {
  grid-area: zero;
}
#decimal {
  grid-area: decimal;
}
#divide {
  grid-area: divide;
}
#multiply {
  grid-area: multiply;
}
#subtract {
  grid-area: subtract;
}
#add {
  grid-area: add;
}
#equals {
  grid-area: equals;
}
